@use "sass:math";
@use "sass:map";

.header{
  &__top{
    background: linear-gradient(to bottom, #56C983 00%, #117E83 100%);
    height: get-sp-vw(11);
    @include mq($size: 'desktop'){
      height: get-pc-vw(11);
    }
  }
  
  &__title{
    font-size: get-sp-vw(26);
    text-align: center;
    margin-top: get-sp-vw(20);
    padding: 0 get-sp-vw(30);
    font-weight: bold;
    @include mq($size: 'desktop'){
      margin-top: get-pc-vw(30);
      padding: 0 get-pc-vw(30);
      font-size: get-pc-vw(40);
    }
    &-grade{
      img{
        width: 80%;
        margin-top: get-sp-vw(10);
        @include mq($size: 'desktop'){
          margin-top: get-pc-vw(10);
        }
      }
    }
  }
}