@use "sass:math";
@use "sass:map";

.footer{
  // background: linear-gradient(#56C983, #117E83);
  padding: get-sp-vw(35) 0;
  // font-family: "Noto Sans JP", sans-serif !important;
  @include mq($size: 'desktop'){
    padding: get-pc-vw(35) 0;
  }
  &__links{
    display: flex;
    flex-direction: column;
    gap: get-sp-vw(20);
    margin-top: get-sp-vw(20);
    text-align: center;
    font-size: get-sp-vw(11);
    @include mq($size: 'desktop'){
      margin-top: get-pc-vw(20);
      font-size: get-pc-vw(12);
      gap: get-pc-vw(20);
    }
  }
}